JENKINS_API_KEY={{ (index (index (keeper "gv_v4a7GuR9DUY-9XwzDpw").custom 0).value 0) }}
JENKINS_USERNAME={{ (index (index (keeper "gv_v4a7GuR9DUY-9XwzDpw").fields 1).value 0) }}
JENKINS_BASE_URL={{ (index (index (keeper "gv_v4a7GuR9DUY-9XwzDpw").fields 3).value 0) }}
export JENKINS_API_KEY JENKINS_USERNAME JENKINS_BASE_URL
