[default]
region = eu-west-1
output = json

[profile indi-dev]
sso_session = indi-sso
sso_account_id = {{ (index (index (keeper "ggXs7AGPs8Cs3yA-7aDZ7Q").custom 0).value 0) }}
sso_role_name = AdministratorAccess
region = eu-west-1

[profile indi-acc]
sso_session = indi-sso
sso_account_id = {{ (index (index (keeper "ggXs7AGPs8Cs3yA-7aDZ7Q").custom 1).value 0) }}
sso_role_name = AdministratorAccess
region = eu-west-1

[profile indi-prod]
sso_session = indi-sso
sso_account_id = {{ (index (index (keeper "ggXs7AGPs8Cs3yA-7aDZ7Q").custom 2).value 0) }}
sso_role_name = AdministratorAccess
region = eu-west-1

[sso-session indi-sso]
sso_start_url = {{ (index (index (keeper "ggXs7AGPs8Cs3yA-7aDZ7Q").fields 3).value 0) }}
sso_region = eu-central-1
sso_registration_scopes = sso:account:access

