[default]
region = eu-west-1
output = json

[profile indi-iam]
source_profile = default
role_arn = arn:aws:iam::{{ (index (index (keeper "h_JnFZn4ZP07wsk9PH97RQ").custom 0).value 0) }}:role/administrator
role_session_name = admin@indi-iam
mfa_serial = {{ (index (index (keeper "h_JnFZn4ZP07wsk9PH97RQ").custom 3).value 0) }}
region = eu-west-1

[profile indi-dev]
source_profile = default
role_arn = arn:aws:iam::{{ (index (index (keeper "h_JnFZn4ZP07wsk9PH97RQ").custom 1).value 0) }}:role/administrator
role_session_name = admin@indi-dev
mfa_serial = {{ (index (index (keeper "h_JnFZn4ZP07wsk9PH97RQ").custom 3).value 0) }}
region = eu-west-1

[profile indi-acc]
source_profile = default
role_arn = arn:aws:iam::{{ (index (index (keeper "h_JnFZn4ZP07wsk9PH97RQ").custom 2).value 0) }}:role/administrator
role_session_name = admin@indi-acc
mfa_serial = {{ (index (index (keeper "h_JnFZn4ZP07wsk9PH97RQ").custom 3).value 0) }}
region = eu-west-1

[profile indi-prod]
source_profile = default
role_arn = arn:aws:iam::{{ (index (index (keeper "h_JnFZn4ZP07wsk9PH97RQ").custom 6).value 0) }}:role/administrator
role_session_name = admin@indi-prod
mfa_serial = {{ (index (index (keeper "h_JnFZn4ZP07wsk9PH97RQ").custom 3).value 0) }}
region = eu-west-1
