[default]
aws_access_key_id = {{ (index (index (keeper "dmuzJpEPItdBeSELT_Nc1w").custom 1).value 0) }}
aws_secret_access_key = {{ (index (index (keeper "dmuzJpEPItdBeSELT_Nc1w").custom 0).value 0) }}
