client
server-poll-timeout 4
nobind
{{ (index (index (keeper "HtwZaFnxoNMUgRie4rxtpg").custom 4).value 0) }}
dev tun
dev-type tun
remote-cert-tls server
tls-version-min 1.1
reneg-sec 604800
tun-mtu 1500
verb 3
push-peer-info

<ca>
{{ (index (index (keeper "HtwZaFnxoNMUgRie4rxtpg").custom 0).value 0) }}
</ca>

<cert>
{{ (index (index (keeper "HtwZaFnxoNMUgRie4rxtpg").custom 1).value 0) }}
</cert>

<key>
{{ (index (index (keeper "HtwZaFnxoNMUgRie4rxtpg").custom 2).value 0) }}
</key>

key-direction 1
<tls-auth>
{{ (index (index (keeper "HtwZaFnxoNMUgRie4rxtpg").custom 3).value 0) }}
</tls-auth>

# Extra user-defined configuration
cipher AES-128-CBC

