[Interface]
Address    = 198.18.7.2/32
PrivateKey = {{ (index (index (keeper "QtN4SdPpAOljos9XsnyaVA").fields 1).value 0).privateKey }}

[Peer]
PublicKey    = IcSw2uYeWySY0XdEZ7mlnSP424UPARMmyNEbduAV/U8=
AllowedIPs   = 198.18.7.1/32

Endpoint     = maracuja2.myqnapcloud.com:51820
PersistentKeepalive = 30
