[connection]
id=T-Mobile(Telekom) connection
uuid=2cdc5c46-228c-49f6-b879-52951e526852
type=gsm
autoconnect=false
permissions=
timestamp=1576262771

[gsm]
apn=internet.telekom
number=*99#
password=tm
pin=
username=t-mobile

[serial]
baud=115200

[ppp]
refuse-chap=true
refuse-eap=true
refuse-mschap=true
refuse-mschapv2=true

[ipv4]
dns-search=
method=auto

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
ip6-privacy=0
method=ignore
