[Desktop Entry]
Name=Mattermost
Comment=Mattermost Desktop application for Linux
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=mattermost-flatpak --file-forwarding com.mattermost.Desktop --enable-features=WebRTCPipeWireCapturer @@u %U @@
Terminal=false
Type=Application
Icon=com.mattermost.Desktop
StartupWMClass=Mattermost
Categories=Network;InstantMessaging;
MimeType=x-scheme-handler/mattermost;
X-Desktop-File-Install-Version=0.28
X-Flatpak=com.mattermost.Desktop
Hidden=false
