[Desktop Entry]
Name=Podman Desktop
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=run.sh --file-forwarding io.podman_desktop.PodmanDesktop @@u %U @@
Terminal=false
Type=Application
Icon=io.podman_desktop.PodmanDesktop
StartupWMClass=Podman Desktop
Categories=Development;
Keywords=container;pod;image;volume;kubernetes;docker;kind;kubectl;
X-Flatpak=io.podman_desktop.PodmanDesktop
Hidden=false
Comment=
