[global_config]
  focus = system
  window_state = maximise
  enabled_plugins = ActivityWatch, TerminalShot, LaunchpadCodeURLHandler, Logger, LaunchpadBugURLHandler
[keybindings]
  toggle_zoom = <Shift><Alt>Return
[profiles]
  [[default]]
    background_color = "#2b303b"
    font = Hack Nerd Font 14
    foreground_color = "#c0c5ce"
    scrollback_infinite = True
    palette = "#2b303b:#bf616a:#a3be8c:#ebcb8b:#8fa1b3:#b48ead:#96b5b4:#c0c5ce:#65737e:#bf616a:#a3be8c:#ebcb8b:#8fa1b3:#b48ead:#96b5b4:#eff1f5"
    use_system_font = False
    copy_on_selection = True
  [[New Profile]]
    background_color = "#fbf1c7"
    foreground_color = "#3c3836"
    palette = "#fbf1c7:#cc241d:#98971a:#d79921:#458588:#b16286:#689d6a:#7c6f64:#928374:#9d0006:#79740e:#b57614:#076678:#8f3f71:#427b58:#3c3836"
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = Base16 Ocean Dark
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
  [[New Layout]]
    [[[child0]]]
      type = Window
      parent = ""
      order = 0
      position = 0:0
      maximised = True
      fullscreen = False
      size = 1920, 1131
      title = johannesmetzner@toolbx:~/work/gradle1/intershop-710/projects/indi
      last_active_term = 563a7a09-1bd7-4529-8193-a632d0324f39
      last_active_window = True
    [[[child1]]]
      type = VPaned
      parent = child0
      order = 0
      position = 563
      ratio = 0.5
    [[[child2]]]
      type = HPaned
      parent = child1
      order = 0
      position = 958
      ratio = 0.5002610966057441
    [[[terminal3]]]
      type = Terminal
      parent = child2
      order = 0
      profile = default
      uuid = 563a7a09-1bd7-4529-8193-a632d0324f39
      command = ""
    [[[terminal4]]]
      type = Terminal
      parent = child2
      order = 1
      profile = New Profile
      uuid = d5fca7ef-a905-4f48-a8a4-46570c0efdda
      command = sudo -i
    [[[terminal5]]]
      type = Terminal
      parent = child1
      order = 1
      profile = default
      uuid = ae5a5359-0b0b-4c3a-b2a9-fe592ae0ef97
[plugins]
