[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=false
Terminal=false
Exec={{ .chezmoi.homeDir }}/Java/eclipse/eclipse
Icon={{ .chezmoi.homeDir }}/Java/eclipse/icon.xpm
Name=Eclipse
Comment=
Categories=Software Development
