[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=IntershopStudio
Comment=Studio
Exec={{ .chezmoi.homeDir }}/Java/IntershopStudio/IntershopStudio
Icon=IntershopStudio
Terminal=false
Categories=GTK;GNOME;Development;
