[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=false
Terminal=false
Exec={{ .chezmoi.homeDir }}/Java/intershopstudio/IntershopStudio
Icon={{ .chezmoi.homeDir }}/Java/intershopstudio/icon.xpm
Name=Pipeline Editor
Comment=
Categories=GTK;GNOME;Development
