# Created with jdDesktopEntryEdit 1.8
[Desktop Entry]
Type=Application
Name=Pipeline Editor
Icon={{ .chezmoi.homeDir }}/Java/intershopstudio/Eclipse.png
Exec={{ .chezmoi.homeDir }}/Java/intershopstudio/IntershopStudio
Categories=GTK;GNOME;Development
